LLM/审批指令的ID和分类.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u5BA1\u6279\u6307\u4EE4\u7684ID\u548C\u5206\u7C7B"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1721718904747-source-1723010799024-target
      selected: false
      source: '1721718904747'
      sourceHandle: source
      target: '1723010799024'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: parameter-extractor
      id: 1723010799024-1-1723079980554-target
      selected: false
      source: '1723010799024'
      sourceHandle: '1'
      target: '1723079980554'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 1723010799024-2-1723083675337-target
      selected: false
      source: '1723010799024'
      sourceHandle: '2'
      target: '1723083675337'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1723083675337-source-17230112343770-target
      selected: false
      source: '1723083675337'
      sourceHandle: source
      target: '17230112343770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: parameter-extractor
      id: 1723079980554-source-1723080153788-target
      selected: false
      source: '1723079980554'
      sourceHandle: source
      target: '1723080153788'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1723166890620-true-answer-target
      selected: false
      source: '1723166890620'
      sourceHandle: 'true'
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1723166890620-false-1723107352481-target
      selected: false
      source: '1723166890620'
      sourceHandle: 'false'
      target: '1723107352481'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1723080153788-source-1723166890620-target
      source: '1723080153788'
      sourceHandle: source
      target: '1723166890620'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables: []
      height: 54
      id: '1721718904747'
      position:
        x: 78
        y: 235
      positionAbsolute:
        x: 78
        y: 235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{"tasks_id" : {{#1723079980554.tasks_id#}},

          "category" : "{{#1723080153788.category#}}"

          }'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 158
      id: answer
      position:
        x: 2060.9210323322204
        y: 88.61054296377779
      positionAbsolute:
        x: 2060.9210323322204
        y: 88.61054296377779
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: should be a clear instruction
        - id: '2'
          name: others or an unclear instruction
        desc: ''
        instruction: "You are an experimental cutting-edge super capable autonomous\
          \ agent of data schedule systerm. \n\nYour task is to understand the user's\
          \ intent and determine whether the user's query is an executable command.\n\
          \n** Important Notice **\n- the instruction must include task information\
          \ or decisions (accept, reject or view)\n\n** Clear Instruction Example\
          \ **\n- \u901A\u8FC7/\u4E0D\u901A\u8FC7\u5168\u90E8\u4EFB\u52A1\n- \u901A\
          \u8FC7/\u4E0D\u901A\u8FC7\u4EFB\u52A11234\n- \u67E5\u770B\u4EFB\u52A1\n\
          - \u67E5\u770B\u4EFB\u52A1123-129\n- \u770B\u770B123569\n- \u901A\u8FC7\
          chenyd21\u540D\u4E0B\u4E2A\u4EFB\u52A1\n- \u4E0D\u901A\u8FC7gongwj\u540D\
          \u4E0B23\u4EFB\u52A1\n\n** Unclear Instruction Example **\n- \u8BF7\u5E2E\
          \u6211\u5BA1\u6279\u4EFB\u52A1\n- \u5BA1\u6279\n- 54564\n- \u4E0D\u8981\u5E2E\
          \u6211\u5BA1\u6279"
        instructions: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        query_variable_selector:
        - '1721718904747'
        - sys.query
        selected: false
        title: "\u95EE\u9898\u5206\u7C7B\u5668"
        topics: []
        type: question-classifier
      height: 184
      id: '1723010799024'
      position:
        x: 447.7140053196923
        y: 235
      positionAbsolute:
        x: 447.7140053196923
        y: 235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1723083675337.text#}}'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D "
        type: answer
        variables: []
      height: 107
      id: '17230112343770'
      position:
        x: 1338
        y: 485.99999999999994
      positionAbsolute:
        x: 1338
        y: 485.99999999999994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: "You are an experimental cutting-edge super capable autonomous\
          \ agent specialized in extracting from scheduling information.\n\n--- Task\
          \ Description ---\nPlease extract the task_id from the scheduling information\
          \ provided if it exists.\n\n--- Example ---\nInput: \u5E2E\u5FD9\u5BA1\u6279\
          \u751F\u4EA7\u8C03\u5EA6\u6570\u636E\u4ED3\u5E93sjck\u4E0B35\u4E2A\u8C03\
          \u5EA6\u4EFB\u52A1\nOutput: \n  tasks_id: []\n\nInput: \u67E5\u770B10086\u4EFB\
          \u52A1\nOutput:\n  tasks_id: [\u201C10086\u201D]\n\n*** Important Notice\
          \ ***\n- The task_id can be a specific number or a range; \n- Provide a\
          \ list of specific and individual task_id in the range.\n- Do not add extra\
          \ information as output.\n- Distinguish the number of tasks from the task_id.\n\
          - The type of each task_id is a string."
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        parameters:
        - description: 'A list containing task_id, numbered with pure digits.

            The type of each task_id is a string.'
          name: tasks_id
          required: false
          type: array[string]
        query:
        - sys
        - query
        reasoning_mode: function_call
        selected: true
        title: "\u63D0\u53D6tasks_id"
        type: parameter-extractor
        variables: []
      height: 98
      id: '1723079980554'
      position:
        x: 848
        y: 159
      positionAbsolute:
        x: 848
        y: 159
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: "You are an experimental cutting-edge super capable autonomous\
          \ agent specialized in instruction classification.\n\n--- Task Description\
          \ ---\nPlease classify the input instruction into one of the following categories\
          \ [accept, reject, view, check, \"\"]. \n\n--- Examples ---\n\nInput: \n\
          \  \u5BA1\u6279chenyd22\u540D\u4E0B2134343\u4EFB\u52A1\nOutput: \n  \"category\"\
          \ : \"\"\n\n*** Important Notice ***\n- think and make decisions step by\
          \ step.\n- do not add extra information as output.\n- \u6CE8\u610F\u8BC6\
          \u522B\u901A\u8FC7\uFF0C\u4E0D\u901A\u8FC7\uFF0C\u5BA1\u6279\u901A\u8FC7\
          \uFF0C\u5BA1\u6279\u4E0D\u901A\u8FC7\u7B49\u6307\u4EE4"
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        parameters:
        - description: one of the following categories [accept, reject, view, check,
            ""]
          name: category
          required: false
          type: string
        query:
        - sys
        - query
        reasoning_mode: function_call
        selected: false
        title: "\u63D0\u53D6category"
        type: parameter-extractor
        variables: []
      height: 98
      id: '1723080153788'
      position:
        x: 1158.3853688948143
        y: 159
      positionAbsolute:
        x: 1158.3853688948143
        y: 159
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        prompt_template:
        - id: 07231a59-b1cd-4b3f-a9fd-b9bc82be95e7
          role: system
          text: "\u4F60\u662F\u4E00\u4E2A\u4F18\u79C0\u7684\u6570\u636E\u8C03\u5EA6\
            \u5E73\u53F0\u7684\u5BA1\u6838AI\uFF0C\u4F60\u7684\u540D\u5B57\u53EB\u5C0F\
            \u667A\n\u4F60\u7684\u4EFB\u52A1\u662F\u5F15\u5BFC\u7528\u6237\u63D0\u4F9B\
            \u8C03\u5EA6\u5BA1\u6279\u4FE1\u606F\n\n\u63D0\u793A\uFF1A\n- \u5BA1\u6279\
            \u901A\u8FC7\u4EFB\u52A11234\n- \u5BA1\u6279\u4E0D\u901A\u8FC7\u4EFB\u52A1\
            1234\n- \u67E5\u770B\u4EFB\u52A11234\n- \u67E5\u770Bchenyd\u540D\u4E0B\
            \u4EFB\u52A1\n- \u901A\u8FC7chenyd\u540D\u4E0B\u4EFB\u52A1\n- \u68C0\u67E5\
            \u4EFB\u52A11234\n- \u67E5\u770B\u5F85\u5BA1\u6279\u7528\u6237\u5217\u8868"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1723083675337'
      position:
        x: 848
        y: 485.99999999999994
      positionAbsolute:
        x: 848
        y: 485.99999999999994
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{"tasks_id" : [],

          "category" : "{{#1723080153788.category#}}"

          }'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D 3"
        type: answer
        variables: []
      height: 123
      id: '1723107352481'
      position:
        x: 2060.9210323322204
        y: 333.12823038233864
      positionAbsolute:
        x: 2060.9210323322204
        y: 333.12823038233864
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3616895d-6732-4224-8157-b5c856442073
            value: ''
            varType: array[string]
            variable_selector:
            - '1723079980554'
            - tasks_id
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: "\u6761\u4EF6\u5206\u652F"
        type: if-else
      height: 126
      id: '1723166890620'
      position:
        x: 1710.2773061474052
        y: 159
      positionAbsolute:
        x: 1710.2773061474052
        y: 159
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 230.3366799894742
      y: 132.52525393435212
      zoom: 0.8705505632961247
