LLM/智能运维助手.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u667A\u80FD\u8FD0\u7EF4\u52A9\u624B"
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1721010178236-source-1721634416726-target
      selected: false
      source: '1721010178236'
      sourceHandle: source
      target: '1721634416726'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1721185507539-true-1721628561408-target
      selected: false
      source: '1721185507539'
      sourceHandle: 'true'
      target: '1721628561408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1721185507539-false-1721628731127-target
      selected: false
      source: '1721185507539'
      sourceHandle: 'false'
      target: '1721628731127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: parameter-extractor
      id: 1721634416726-1-17217272131150-target
      selected: false
      source: '1721634416726'
      sourceHandle: '1'
      target: '17217272131150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1721784646187-source-1721183381345-target
      selected: false
      source: '1721784646187'
      sourceHandle: source
      target: '1721183381345'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 17217272131150-source-1721185507539-target
      selected: false
      source: '17217272131150'
      sourceHandle: source
      target: '1721185507539'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: llm
      id: 1721634416726-2-1721784646187-target
      source: '1721634416726'
      sourceHandle: '2'
      target: '1721784646187'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables: []
      height: 54
      id: '1721010178236'
      position:
        x: 590.0942411967015
        y: 282
      positionAbsolute:
        x: 590.0942411967015
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1721784646187.text#}}'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 107
      id: '1721183381345'
      position:
        x: 1752.1512022998568
        y: 589.833211913346
      positionAbsolute:
        x: 1752.1512022998568
        y: 589.833211913346
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: dc9e8e1d-bcfb-4eee-8fe2-09e6a67b3b75
            value: ''
            varType: array[number]
            variable_selector:
            - '17217272131150'
            - tasks_id
          id: 'true'
          logical_operator: or
        desc: ''
        selected: false
        title: "\u6761\u4EF6\u5206\u652F"
        type: if-else
      height: 126
      id: '1721185507539'
      position:
        x: 1967.9381208214704
        y: 276.1690875550832
      positionAbsolute:
        x: 1967.9381208214704
        y: 276.1690875550832
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{"tasks_id":{{#17217272131150.tasks_id#}}}'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 123
      id: '1721628561408'
      position:
        x: 2373.3284034099156
        y: 89.38678968022137
      positionAbsolute:
        x: 2373.3284034099156
        y: 89.38678968022137
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{"tasks_id":[]}'
        desc: ''
        selected: false
        title: "\u76F4\u63A5\u56DE\u590D"
        type: answer
        variables: []
      height: 104
      id: '1721628731127'
      position:
        x: 2390.2693726705434
        y: 414.00625464633146
      positionAbsolute:
        x: 2390.2693726705434
        y: 414.00625464633146
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: include approval information, task number, or task name.
        - id: '2'
          name: others
        desc: ''
        instruction: 'You are an experimental cutting-edge super capable autonomous
          agent specialized in data scheduling system approvall.


          Your task is to understand the user''s intent and determine whether the
          user''s query contains approval info like task number.


          **Important Notice**

          - the task number can be of any length.

          - the task number can be a specific number or a range'
        instructions: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        query_variable_selector:
        - '1721010178236'
        - sys.query
        selected: false
        title: "\u95EE\u9898\u5206\u7C7B\u5668"
        topics: []
        type: question-classifier
      height: 200
      id: '1721634416726'
      position:
        x: 917.9196733605415
        y: 282
      positionAbsolute:
        x: 917.9196733605415
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: "You are an experimental cutting-edge super capable autonomous\
          \ agent specialized in extracting from scheduling information.\n\n--- Task\
          \ Description ---\nPlease extract the task_id from the scheduling information\
          \ provided if it exists.\n\n--- Example ---\nInput: \u5E2E\u5FD9\u5BA1\u6279\
          \u751F\u4EA7\u8C03\u5EA6\u6570\u636E\u4ED3\u5E93sjck\u4E0B35\u4E2A\u8C03\
          \u5EA6\u4EFB\u52A1\nOutput: \n  tasks_id: []\n\nInput: \u67E5\u770B10086\u4EFB\
          \u52A1\nOutput:\n  tasks_id: [\u201C10086\u201D]\n\n*** Important Notice\
          \ ***\n- The task_id can be a specific number or a range; \n- Provide a\
          \ list of specific and individual task_id in the range.\n- Do not add extra\
          \ information as output.\n- Distinguish the number of tasks from the task_id.\n\
          - The type of each task_id is a string."
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        parameters:
        - description: 'A list containing task_id, numbered with digits.

            The type of each task_id is a string.'
          name: tasks_id
          required: true
          type: array[string]
        query:
        - sys
        - query
        reasoning_mode: function_call
        selected: false
        title: "\u53C2\u6570\u63D0\u53D6\u5668 (tasks_id)"
        type: parameter-extractor
        variables: []
      height: 98
      id: '17217272131150'
      position:
        x: 1377.6997111391815
        y: 276.1690875550832
      positionAbsolute:
        x: 1377.6997111391815
        y: 276.1690875550832
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: qwen
          provider: xinference
        prompt_template:
        - id: b26f99b7-996c-4808-a1c2-a8c463490e5a
          role: system
          text: "\u4F60\u662F\u4E00\u4E2A\u4F18\u79C0\u7684\u6570\u636E\u8C03\u5EA6\
            \u5E73\u53F0\u7684\u5BA1\u6838AI\uFF0C\u4F60\u7684\u540D\u5B57\u53EB\u5C0F\
            \u667A\n\u4F60\u7684\u4EFB\u52A1\u662F\u5F15\u5BFC\u7528\u6237\u63D0\u4F9B\
            \u8C03\u5EA6\u5BA1\u6279\u4FE1\u606F\uFF0C\u4F18\u5148\u8BA9\u7528\u6237\
            \u63D0\u4F9B\u4EFB\u52A1\u7F16\u53F7\n\n\u63D0\u793A\uFF1A\n- \u8C03\u5EA6\
            \u5BA1\u6279\u4FE1\u606F\u5305\u542B\u4EFB\u52A1\u7F16\u53F7\n- \u4EFB\
            \u52A1\u7F16\u53F7\u662F\u7531\u6570\u5B57\u7EC4\u6210\u7684"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1721784646187'
      position:
        x: 1359.1066355450967
        y: 589.833211913346
      positionAbsolute:
        x: 1359.1066355450967
        y: 589.833211913346
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1040.3095471973202
      y: 231.14542024993943
      zoom: 0.8705505632961241
